---
galaxy_info:
  role_name: {{ role_name }}
  author: Your Name
  description: {{ project_name }} - {{ role_name }} role
  company: Your Company

  license: MIT

  min_ansible_version: "2.9"

  platforms:
    - name: Ubuntu
      versions:
        - focal
        - jammy
    - name: EL
      versions:
        - 8
        - 9

  galaxy_tags:
    - system
    - configuration

dependencies: []
